<li data-id={{id}} data-burgerName="{{burger_name}}" data-devoured={{devoured}}>
    {{burger_name}}
    <button id="devourBtn">
        {{#if devoured}} UN-devour! {{else}} devour! {{/if}}
    </button>
</li>